.carousel-inner {
  text-align: center;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.carousel-item img {
  max-width: 100px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}
.carousel-caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}
footer,
div,
h2,
nav,
ul,
li,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* Style for the footer container */
#goc-ft {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

/* Style for the help section */
#goc-ft-help {
  display: block;
  flex-direction: column;
  align-items: center;
}

/* Style for the Marvel logo */
#goc-ft-logo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Style for navigation links */
#goc-ft-about,
#goc-ft-legal {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#goc-ft-about li,
#goc-ft-legal li {
  margin-bottom: 5px;
}

#goc-ft-about a,
#goc-ft-legal a {
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
  transition: color 0.3s ease;
}

#goc-ft-about a:hover,
#goc-ft-legal a:hover {
  color: #ff0000; /* Change to the desired hover color (red in this case) */
}

/* Style for the copyright text */
#goc-ft-copyright {
  font-size: 14px;
  color: #555;
  margin-top: 20px;
}
